@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Shrikhand&display=swap");
body {
  font-family: Roboto;
  font-size: 17px;
}

h2 {
  font-size: 140%;
  margin: 15px 0;
}

h3 {
  font-size: 100%;
}

h4 {
  margin: 5px 0;
}

p {
  margin: 5px 0;
  font-weight: 300;
}

section {
  padding: 0 15px;
  padding-top: 40px;
  padding-bottom: 40px;
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  box-shadow: 0 2px 2px rgba(51, 51, 51, 0.3333333333);
  padding: 20px 0 10px 0;
  position: relative;
  position: relative;
  z-index: 2;
}
header h2 {
  font-family: Shrikhand;
  text-align: center;
  margin: 0;
}
header a {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
}

footer {
  background-color: #333;
  color: white;
  padding: 0 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 90%;
}
footer h4 {
  margin: 0 0 15px 0;
  font-size: 110%;
  font-family: shrikhand;
  font-weight: normal;
}
footer .fas {
  font-size: 80%;
  display: inline-block;
  width: 20px;
}

.loading-spinner {
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear 0s 2s forwards;
}
.loading-spinner svg {
  animation: spinner 1s both 2;
}
.loading-spinner svg path {
  fill: none;
}
.loading-spinner svg path:first-of-type {
  stroke: #9356DC;
  animation: translate-left 2s reverse 1;
}
.loading-spinner svg path:nth-of-type(2) {
  stroke: #FF79DA;
  animation: translate-right 2s reverse 1;
}
.loading-spinner svg path:nth-of-type(3) {
  stroke: #99E2D0;
  animation: translate-up 2s reverse 1;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.32, -0.3, 0.73, 0.73);
  }
  50% {
    transform: rotate(180deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.39, 0.39, 0.75, 1.31);
  }
}
@keyframes translate-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    animation-timing-function: ease-in-out;
  }
  to {
    transform: translateY(0);
  }
}
@keyframes translate-right {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(10px) translateX(17px);
    animation-timing-function: ease-in-out;
  }
  to {
    transform: translateY(0) translateX(0);
  }
}
@keyframes translate-left {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(10px) translateX(-17px);
    animation-timing-function: ease-in-out;
  }
  to {
    transform: translateY(0) translateX(0);
  }
}
@keyframes disappear {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/* Generic classes */
.bg-grey {
  background-color: #EAEAEA;
}

.card {
  border-radius: 25px;
  box-shadow: 0 5px 5px 0 rgba(51, 51, 51, 0.3333333333);
  margin: 20px 0;
}

.color1 {
  color: #9356DC;
}

/* Home */
.localisation {
  text-align: center;
  font-size: 95%;
  font-weight: bold;
  color: #444;
  background-color: #EAEAEA;
  padding: 15px 0 15px 0;
}
.localisation .fas {
  margin-right: 15px;
}

.exploration {
  text-align: center;
  padding: 20px 0;
  background-color: #F6F6F6;
}
.exploration h1 {
  font-size: 140%;
  padding: 0 40px;
}
.exploration p {
  color: #444;
  font-weight: 300;
  font-size: 105%;
}
.exploration button {
  display: block;
  position: relative;
  top: 0px;
  padding: 15px;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  margin: 15px auto 25px auto;
  font-size: 90%;
  box-shadow: 0 5px 5px 0 rgba(51, 51, 51, 0.3333333333);
  transition: box-shadow 0.3s;
}
.exploration button:hover {
  box-shadow: 0 6px 8px 0 rgba(51, 51, 51, 0.6666666667);
  background-image: linear-gradient(to bottom, #ff88de, #9b63df);
}
.exploration button:active {
  top: 1px;
  scale: 0.98 0.98;
}

.card-function {
  display: flex;
  gap: 25px;
  justify-content: left;
  background-color: #F6F6F6;
  padding: 25px 0 25px 35px;
  margin-left: 15px;
  position: relative;
}
.card-function__number {
  position: absolute;
  left: -15px;
  top: 22px;
  background-color: #9356DC;
  padding: 5px 9px;
  text-align: center;
  color: white;
  border-radius: 50%;
  font-size: 80%;
}
.card-function__icon {
  color: #666;
}
.card-function__text {
  font-weight: bold;
}
.card-function:last-child {
  background-color: #ece1f9;
}

.card-restaurant {
  overflow: hidden;
  background-color: white;
  position: relative;
}
.card-restaurant__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.card-restaurant__label {
  padding: 10px;
  position: relative;
}
.card-restaurant .fa-heart {
  position: absolute;
  right: 20px;
  top: 22px;
  font-size: 120%;
}
.card-restaurant .fa-heart:before {
  transition: all 0.2s;
  opacity: 1;
}
.card-restaurant .fa-heart:hover:before {
  opacity: 0;
}
.card-restaurant .fa-heart.hover:before {
  opacity: 0;
  color: #9356DC;
}
.card-restaurant .fa-heart.hover:hover:before {
  opacity: 1;
}
.card-restaurant--new:before {
  content: "Nouveau";
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px 10px;
  color: #1b6150;
  background-color: #99E2D0;
  font-size: 75%;
  font-weight: bold;
}

/* Page restaurant */
.restaurant-banner img {
  width: 100%;
}

.menu {
  margin-top: -40px;
  padding-top: 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #F6F6F6;
  position: relative;
  z-index: 1;
}
.menu h2 {
  font-family: shrikhand;
  font-size: 165%;
}
.menu__icon {
  position: absolute;
  top: 35px;
  right: 15px;
  font-size: 130%;
  color: #444;
}
.menu h3 {
  margin-top: 35px;
  color: #666;
  font-weight: 400;
  position: relative;
}
.menu h3:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
}

div.card-dish {
  background-color: white;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
}
div.card-dish:nth-of-type(2) {
  animation: opacity 0.5s both calc((2s) * 0.25) ease-out, from-bottom 0.5s both calc((2s) * 0.25);
}
div.card-dish:nth-of-type(3) {
  animation: opacity 0.5s both calc((3s) * 0.25) ease-out, from-bottom 0.5s both calc((3s) * 0.25);
}
div.card-dish:nth-of-type(4) {
  animation: opacity 0.5s both calc((4s) * 0.25) ease-out, from-bottom 0.5s both calc((4s) * 0.25);
}
div.card-dish:nth-of-type(5) {
  animation: opacity 0.5s both calc((5s) * 0.25) ease-out, from-bottom 0.5s both calc((5s) * 0.25);
}
div.card-dish:nth-of-type(6) {
  animation: opacity 0.5s both calc((6s) * 0.25) ease-out, from-bottom 0.5s both calc((6s) * 0.25);
}
div.card-dish:nth-of-type(7) {
  animation: opacity 0.5s both calc((7s) * 0.25) ease-out, from-bottom 0.5s both calc((7s) * 0.25);
}
div.card-dish:nth-of-type(8) {
  animation: opacity 0.5s both calc((8s) * 0.25) ease-out, from-bottom 0.5s both calc((8s) * 0.25);
}
div.card-dish:nth-of-type(9) {
  animation: opacity 0.5s both calc((9s) * 0.25) ease-out, from-bottom 0.5s both calc((9s) * 0.25);
}
div.card-dish:nth-of-type(10) {
  animation: opacity 0.5s both calc((10s) * 0.25) ease-out, from-bottom 0.5s both calc((10s) * 0.25);
}
div.card-dish h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.card-dish > :first-child {
  flex: 1;
  padding: 10px;
  width: 60%; /* ??? */
}
div.card-dish__data {
  display: flex;
  justify-content: space-between;
  font-size: 90%;
}
div.card-dish__data > :first-child {
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  white-space: nowrap;
  flex: 1;
}
div.card-dish .price {
  font-weight: bold;
  text-align: right;
  flex: 0 0 35px;
}
div.card-dish .fa-check-circle {
  color: white;
  background-color: #99E2D0;
  width: 0; /* ??? */
  flex: 0 0 0;
  transition: flex 0.4s, width 0.4s;
}
div.card-dish .fa-check-circle::before {
  display: inline-block;
  position: relative;
  top: 40%;
  left: 40%;
  transform: rotate(180deg);
  transition: transform 0.35s 0.1s;
}
div.card-dish:hover .fa-check-circle {
  width: 70px;
  flex: 0 0 70px;
}
div.card-dish:hover .fa-check-circle::before {
  transform: rotate(0);
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes from-bottom {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
